header {
  height: 50px;
  background-color: lightgrey;
}

#logo {
  margin-left: 20px;
}

.menuItem {
  float: right;
  padding: 0 10px;
}

main {
  width: 80%;
  margin: 20px auto;
}

a {
  text-decoration: none;
}

#pagination {
  margin-top: 30px;
}

.paging {
  border: solid 1px grey;
  display: inline-block;
  padding: 10px;
}

.prev {
  border-radius: 5px 0 0 5px;
}

.next {
  border-radius: 0 5px 5px 0;
}

ul {
  list-style-type: none;
}
